*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg,rgb(43, 43, 255),rgb(204, 2, 255));
    padding :10px;
}
.to-do{
    width: 100%;
    max-width: 550px;
    background-color: white;
    padding: 30px 50px 70px;
    margin: 100px auto 100px;
    border-radius: 50px;
}
h1{
    letter-spacing: 0.1em;
    text-align: center;
}
.search{
    margin-top: 30px;
    display: flex;
    border-radius: 30px;
    background-color: rgba(157, 157, 157, 0.386);
}
.search input{
    flex: 1;
    padding: 15px;
    background: transparent;
    border: none;
    outline: none;
    letter-spacing: 0.1em;
}
.search button{
    color: aliceblue;
    padding: 16px 50px;
    border: none;
    outline: none;
    background-color: brown;
    cursor: pointer;
    border-radius: 40px;
    font-size: larger;
    transition: 0.2s;
   
}
.search button:hover{
    background-color: rgb(168, 67, 67);
}